body{
    margin:0;
    font-family:"Kanoit",sans-serif;
    background-color: black;
    padding: 0;

}
  
nav {
    background-color: #111b21;
    height: 45px;
    
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}
.content {
    margin-left: 350px; /* Adjusted margin to create space for the navbar and sidebar */
    padding: 20px;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #111b21;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: rgb(240, 235, 235);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}  
li.button {
    margin-left: auto; /* Added */
}
li.logo {
    display: flex; /* Added */
    align-items: center; /* Added */
    margin-right: auto; /* Added */
}

li.logo img {
    max-width: 90px; /* Adjust the maximum width as needed */
    max-height: 45px; /* Adjust the maximum height as needed */
}
.logo {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #111b21;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 4px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .ver-navbar {
    position: fixed;
    top: 130px;
    left: 0;
    bottom:100px;
    height: 100vh;
    width: 50px; /* Decreased width */
    background-color: #111b21;
    color: #fff;
    padding: 20px;
    overflow-y: auto; /* Add scrollbar if the content exceeds the height */
  }
  
  .ver-navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px; /* Increased distance between items */
  }
  
  .ver-navbar content {
    margin-left: 150px; /* Adjusted margin to match the navbar width */
    padding: 20px;
  } 
  .sidebar {
    position: fixed;
    top: 130px;
    left: 150px; /* Adjusted to match the width of the navbar */
    width: 1190px; /* Width of the sidebar */
    height: 500px;
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

  }

